<div>
    <form #quoteForm='ngForm' (ngSubmit)="submitQuote()">

        <div class="form-group">
            <label for="">Quote:</label>
            <textarea #theQuote="ngModel" required [(ngModel)]="newQuote.theQuote" id="theQuote" name="theQuote"  cols="30" rows="10" placeholder="Type your quote here..." class="form-control"></textarea>
            <div [hidden]="theQuote.valid || theQuote.pristine" class="alert alert-danger">
                <p>Quote required</p>
            </div>
        </div>
      
        <div class="form-group">
            <label for="author" >Author name:</label>
            <input name="author" required #author="ngModel" type="text" class="form-control" [(ngModel)]="newQuote.author">
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="">Submitted by:</label>
            <input #submittedBy="ngModel" required [(ngModel)]="newQuote.submittedBy" name="submittedBy" type="text" class="form-control">
            <div [hidden]="submittedBy.valid || submittedBy.pristine" class="alert alert-danger">
                <p>Your name required</p>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Create</button>

    </form>
</div>
