*{
    font-size: 18px;
}

h4{
    font-weight: 700;
    margin-top: 10px;
}
#submitted{
    font-size: 14px;
    color: gray;
    margin-left: 20px;
}

blockquote{
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(220, 218, 218);
}
blockquote .blockElement{
    display: flex;
    justify-content: space-between;
}

#vote{
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}
#vote:hover{
    color: rgb(0, 110, 255);
}