
<h4>Click on details to see more details or vote or delete</h4>

<div *ngFor="let quote of quotes; let i = index">
    
      <blockquote class="blockquote text-left">
            <p class="mb-0">{{quote.theQuote}}</p>
          
            <p id="vote" (click)='toggleDetails(i)'>Details</p>
            <div *ngIf='quote.showDescription'>
                <div class="blockElement">
                    <footer class="blockquote-footer">Author: <cite title="Source Title">{{quote.author}}</cite></footer>
                    <cite><p id="submitted">Submitted by: {{quote.submittedBy}}</p></cite>
                </div>
                <app-quote-details ></app-quote-details>
            </div>
      </blockquote>
   
</div>
