
<h4>Click on a quote to vote</h4>

<div *ngFor="let quote of quotes">
    
      <blockquote class="blockquote text-left">
        <p class="mb-0">{{quote.theQuote}}</p>
        <div>
            <footer class="blockquote-footer">Author: <cite title="Source Title">{{quote.author}}</cite></footer>
            <cite><p id="submitted">Submitted by: {{quote.submittedBy}}</p></cite>
        </div>
        <div>
            <button class="btn btn-primary">Upvote</button>
            <button class="btn btn-warning">DownVote</button>
        </div>
      </blockquote>
    <app-quote-details></app-quote-details>
</div>