*{
    font-size: 18px;
}

.container-fluid{
    margin-top: 18vh;
}

.mainSection{
    display: flex;
}

.topImgForm{
    width: 100%;
    background-color: cornsilk;
    margin-left: 20px;
    padding: 20px;
}

.hero{
    /* background-image: url("/assets/images/lion2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    border: 1px solid black;
    position: relative;
}

.heroContent{
    position: absolute;
}
h2{
    font-weight: 900;
    color: green;
}
.hero p{
    color: white;
    background-color: rgb(20, 20, 20,0.5);
    width: auto;
    font-weight: 700;
    font-size: x-large;
    padding: 20px;
}
.leadTxt{
   
    background-color: cornsilk;
    padding: 20px;
}


h4{
    font-weight: 700;
    margin-top: 10px;
}
#submitted{
    font-size: 14px;
    color: gray;
    margin-left: 20px;
}

blockquote{
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(220, 218, 218);
    background-color: white;
}
blockquote .blockElement{
    display: flex;
    justify-content: space-between;
}

#vote{
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}
#vote:hover{
    color: rgb(0, 110, 255);
}

.fullPage{
    display: flex;
}
button{
    margin-right: 20px;
}

.details{
    display: flex;
    
}

.voting{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.down{
    margin-left: 20px;
}
