.container-fluid{
    margin-top: 15vh;
}

.mainSection{
    display: flex;
}

.hero{
    background-image: url("/assets/images/lion.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
}
h2{
    font-weight: 900;
    color: green;
}
.hero p{
    color: white;
    background-color: rgb(20, 20, 20,0.5);
    width: 50%;
    font-weight: 700;
    font-size: x-large;
    padding: 20px;
}